{{ metadata.email }}
Data editor report, ReStud MS {{ metadata.manuscript_id }}

Dear {{ metadata.salutation }},

Congratulations on your acceptance to ReStud, and thank you for sending the replication materials for "{{ metadata.title }}" to the Review.
{{ metadata.praise }}

To help our readers replicate your results, my team and I have reviewed the code, data and documentation you have submitted.
I have accepted the package as it is.

If you have not done it yet, please edit the Zenodo entry and add it to the Restud list by selecting 'restud-replication' among Communities. (This will not change the DOI.)
Add the Zenodo DOI to the Data Availability Statement (DAS) at the end of the manuscript you are sending to Ann (in cc). The DAS is something like "The data and code underlying this research is available on Zenodo at https://dx.doi.org/[doi].", but please see other examples here: https://academic.oup.com/journals/pages/authors/preparing_your_manuscript/research-data-policy#data2
Best regards,

Andrea

--
Andrea Moro
Data Editor, Review of Economic Studies
andrea@andreamoro.net
