{{ metadata.email }}
Data editor report, ReStud MS {{ metadata.manuscript_id }}

Dear {{ metadata.salutation }},

Congratulations on your acceptance to ReStud, and thank you for sending the replication materials for "{{ metadata.title }}" to the Review.

{{ metadata.praise }}

To help our readers replicate your results, my team and I have reviewed the code, data and documentation you have submitted.

To comply with our Data Availability Policy (https://restud.dataeditor.group/before/), please address the following comments:

{% if comments %}
{% for comment in comments %}
{{ loop.index }}. {{ comment.text }} [DCAS rule {{ comment.number }}]
{% endfor %}
{% endif %}

{% if requests %}
{% if requests|length == 1 %}
We also found an additional issue, please address it as well:
{% else %}
We also found additional issues, please address them as well:
{% endif %}
{% for req in requests %}

{{ (comments|length if comments else 0) + loop.index }}. {% if req is string %}{{ req }}{% else %}{{ req.text }}{% endif %}
{% endfor %}
{% endif %}


{% if recommendations %}
Finally, please consider the following {% if recommendations|length == 1 %}recommendation{% else %}recommendations{% endif %} to ease reproducibility:

{% for rec in recommendations %}
{{ chr(97 + loop.index0) }}) {% if rec is string %}{{ rec }}{% else %}{{ rec.text }}{% endif %}
{% endfor %}
{% endif %}

After you have made these changes, please upload the revision to Zenodo and send me the link to the new version.
When creating the new version, please edit the date of the Zenodo record to reflect when you have made the changes.

Best regards,

Andrea

--
Andrea Moro
Data Editor, Review of Economic Studies
andrea@andreamoro.net
